.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #ffff;
  height: 100px;
  padding: 20px;

  opacity: .8;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
